.about__me {
    width: 100%;
    height: 100vh;
}
.about__me___content {
    margin-left: 80px;
    margin-right: 80px;
    
}
.about__me___content h1 {
    color: #ffffff;
    padding: 40px 0;
    font-size: 3rem;
    margin-top: 20px;
}
.about__me___content p {
    color: #ffffff;
    line-height: 30px;
    word-spacing: 3px;
}
.about__me___content a {
    color: var(--color--yellow);
}
.content__buttons___about {
    display: none;
} 
/*=========Cards social medias===========*/

.container_cards {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background: #000000;
} 
.card {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0 5rem;
    text-align: center;
    line-height: 8rem;
    color: var(--color--yellow);
    border-radius: 0.8rem;
    transform-style: preserve-3d;
    cursor: pointer;
   
}
.card a {
    color: var(--color--yellow);
}
.face {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s ease-in-out;
    
}
.face--front {
    background: #232526; 
    background: -webkit-linear-gradient(to right, #414345, #232526); 
    background: linear-gradient(to right, #414345, #232526); 

    font-size: 3rem;
    
    z-index: 1;
    
}
.face--back {
    background: #232526; 
    background: -webkit-linear-gradient(to right, #414345, #232526); 
    background: linear-gradient(to right, #414345, #232526); 
    
    font-size: 1.5rem;
    transform: rotateX(90deg);
    
}
.card:hover .face--front {
    transform: rotateX(-90deg);
   
}
.card:hover .face--back {
    transform: rotateX(0deg);
    z-index: 1;
    
}

/*=========Responsive===========*/

@media screen and (max-width: 425px){
    .about__me___content {
        margin-left: 15px;
        margin-right: 10px;
        
    }
    .about__me___content h1 {
        color: #ffffff;
        padding: 20px 0;
        font-size: 2rem;
        
    }
    .about__me___content p{
        font-size: .8rem;
        line-height: 20px;
        word-spacing: 3px;
    }
    .content__buttons___about {
        display: flex;
        justify-content: space-between;
        margin: 80px 10px 0 10px;
        
    }
    .content__buttons___btn___about {
        width: 105px;
        height: 35px;
        border: 2px solid #FFD200;
        background: #000000;
        color: #ffffff;
        border-radius: 5px;
        font-size: 10px;
    }
    

    .content__buttons___btn___about:hover {
        transform: scale(1.1);
        transition: all 0.5s;
      } 
      .about__me___content a {
        color: #FFD200;
      }
    .container_cards {
        display: none;
    }

    
    
}
