.contact{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.contact__container {
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;  
    
}
.contact__container img {
    width: 400px;
    
}
.contact__input {
    
}
.contact__input h3 {
    color: #ffffff;
}
.contact__input input {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    border-radius: 6px;
    border: none;
}
.contact__input button {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid var(--color--yellow);
}

#text__area {
    width: 100%;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
}
.contact__input button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #ffffff;
    color: #000000;
  } 

  /*=========Responsive===========*/

  @media screen and (max-width: 425px){
    .contact {
        margin-top: 100px;
    }
    .contact__container {
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;  
        
    }
    .contact__container img {
        display: none;
        
    }
    .contact__input h3 {
        font-size: 1rem;
    }
    .contact__container {
       margin: 0 10px;
          
        
    }
    .contact__input button {
        border: 2px solid #FFD200;
        
    }
  }

  