footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--color--yellow);
}

footer p {
    color: #ffffff;
}

/*=========Responsive===========*/

@media screen and (max-width: 425px){
    footer {
        height: 50px;
    }
    footer p {
        font-size: .6rem;
    }
}