#formation h1 {
    color: #ffffff;
    padding: 25px;
}

.formation {
    height: 100vh;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    grid-template-rows: 100%;
    background: url("images/banner_formation.jpg") center / cover no-repeat ;
    box-shadow: inset 0 0 30px 15px #000000;
}
.formation__cards {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px 80px;
  border: 2px solid var(--color--yellow);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1) ;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 500px;
}
.formation__cards img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.formation__cards h2 {
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.formation__cards p {
    color: #ffffff;
    text-align: center;
    

}
.formation__cards:hover {
    transform: scale(1.1);
    transition: all 0.5s;
} 

/*=========Responsive===========*/


@media screen and (max-width: 425px){
    .formation {
        
        display: flex;
        flex-direction: column;
    }
    .formation__cards {
  
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px 30px;
        border: 2px solid #FFD200;
        border-radius: 15px;
    
    }
    .formation__cards img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-top: 10px;
    }
    #formation h1 {
        font-size: 1.5rem;
    }
    .formation__cards h2 {
        font-size: 1.3rem;
        padding-top: 5px;
    }
    .formation__cards p {
        font-size: .8rem;
    }
        
}