.hobbies {
    height: 250px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 100%;
}
#skills__hobbies h1 {
    color: #ffffff;
}
.hobbies__cards {
    background-color: #ffffff;
    border: 2px solid #dddd10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 35px;

}
.hobbies__cards img {
    filter: invert(94%) sepia(31%) saturate(2785%) hue-rotate(359deg) brightness(93%) contrast(87%);
}

.hobbies img {
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

/*=========Responsive===========*/


@media screen and (max-width: 425px){
    .hobbies {
        height: 250px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        margin-left: 10px;
    }
    #skills__hobbies h1 {
        color: #ffffff;
    }
    .hobbies__cards {
        background-color: #ffffff;
        border: 2px solid rgb(165, 165, 29);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        margin: 10px;
        
    }
    .hobbies img {
        background: none;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
    .hobbies__cards h2 {
        font-size: 1rem;
    }
    
}
