.projects {
    display: flex;
    justify-content: center;
    align-items: center;

}
#projects__title {
    color: #ffffff;
    padding: 15px;
    text-align: center;
    margin: 30px 0;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
    
}
.slides {
    width: 400%;
    height: 400px;
    display: flex;
    
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 2s;

}
.slide__content{
    display: flex;
}
.slide__link {
    width: 5px;
    background-color: var(--color--yellow);
}
.slide p {
    color: #ffffff;
    text-align: center;
}
.slide p:hover{
    color: var(--color--yellow);
}

.slide button {
    border: 1px solid var(--color--yellow);
    background-color: #000000;
    color: #ffffff;
    justify-content: center;
    
}
.slide img {
    width: 800px;
}
.manual__navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual__btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual__btn:not(:last-child){
    margin-right: 40px;
}
.manual__btn:hover {
    background-color: #ffffff;
}
#radio__one:checked ~ .one {
    margin-left: 0;
}
#radio__two:checked ~ .one {
    margin-left: -25%;
}
#radio__three:checked ~ .one {
    margin-left: -50%;
}
#radio__for:checked ~ .one {
    margin-left: -75%;
}
.navigation__auto div {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation__auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation__auto div:not(:last-child){
    margin-right: 40px;
}
#radio__one:checked ~ .navigation__auto .auto__btn___one {
    background-color: #ffffff;
}
#radio__two:checked ~ .navigation__auto .auto__btn___two {
    background-color: #ffffff;
}
#radio__three:checked ~ .navigation__auto .auto__btn___three {
    background-color: #ffffff;
}
#radio__for:checked ~ .navigation__auto .auto__btn___for {
    background-color: #ffffff;
}

/*=========Responsive===========*/

@media screen and (max-width: 425px){
    .projects {
     display: flex;
     flex-direction: column;
     align-items: center;
    }
    .slider {
        display: flex;
        width: 100%;
        height: auto;
    }
    .slide img {
        max-width:100%;
	    height:auto;
        margin: 5px;
        border-radius: 5px;
    }
    .slides {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
    }
    .navigation__auto div {
        display: none;
    }
    .navigation__auto {
        display: none;
    }
    .manual__btn {
       display: none;
    }
    #radio__one {
        display: none;
    }
    .slide p {
        font-size: .8rem;
    }
    .slide p:hover{
        color: yellow;
    }
    .slide  {
        width: 100%;
    }
    #projects__title {
        margin-top: 100px;
        margin-bottom: 0;
    }
}

